<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xborg.vendx">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.feedbackActivity.FeedbackActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.paymentActivity.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.loginActivity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.mainActivity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.vendingActivity.VendingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".database.ItemGroup"
            android:screenOrientation="portrait" /> <!-- region Razorpay -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_NyPdkxve0E0k3c" /> <!-- endregion -->
        <!-- region Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmyvFOOGd0rIJpcD2tJJrZIbjHj_PHQcg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- endregion -->
    </application>

</manifest>